<template>
    <Head title="Property" />
    <navbar />
    <img src="/images/header.jpg" alt="" />

    <div class="container mx-auto py-20">
        <div class="lg:flex">
            <div class="lg:w-2/3 md:w-1/2">
                <h2 class="font-withe text-3xl mb-3">{{ content.title }}</h2>
                <img :src="content.property_images[0].url" alt="" v-if="content.property_images.length" />

                <ul class="list-features py-3">
                    <li><span class="material-icons">bathroom</span> Bathrooms {{ content.bedrooms ?? '0' }}</li>
                    <li><span class="material-icons">bedroom_parent</span> Bedrooms {{ content.bathrooms ?? '0' }}</li>
                    <li><span class="material-icons">local_parking</span> Parking {{ content.parking_spaces ?? '0' }}</li>
                </ul>
            </div>
            <div class="lg:w-1/3 md:w-1/2 px-4">
                <h2 class="font-withe text-3xl mb-3 text-center">Agente</h2>
                <div class="profile-wrapper mb-2" v-bind:style="{ backgroundImage: 'url(' + content.agent.profile_image_url + ')' }">
                    <!-- <img : :src="content.agent.profile_image_url" alt="" /> -->
                </div>
                <ul class="mt-4">
                    <li><span class="font-bold">Nombre:</span> {{ content.agent.full_name }}</li>
                    <li><span class="font-bold">Telefono:</span> {{ content.agent.mobile_phone }}</li>
                    <li><span class="font-bold">Email:</span> {{ content.agent.email }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import { Head, Link } from "@inertiajs/inertia-vue3";
import navbar from "../Components/NavBar.vue";

export default {
    components: {
        Head,
        navbar,
        Link
    },
    props: {
        content: Object,
    },

    data() {
        return {
        name: ""
        };
    },

    methods: {
        
    }, 
    mounted() {
        console.log(this.content);
    }
};
</script>