<template>
    <Head title="Welcome" />
    <navbar />
    <img src="/images/header.jpg" alt="" />

    <div class="container mx-auto py-20">
        <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-4" v-if="content.length">
            <card class="card bordered" v-for="property in content" :key="property.public_id" :property="property" />
        </div>

        <div class="text-right py-5" v-if="pagination && pagination.next_page">
            <a href="#!" @click.prevent="nextPage(pagination.next_page)"> Next page</a>
        </div>
    </div>

</template>

<script>
import { Head, Link } from "@inertiajs/inertia-vue3";
import navbar from "../Components/NavBar.vue";
import card from "../Components/CardComponent.vue"
import axios from 'axios';

export default {
    components: {
        Head,
        navbar,
        card, Link
    },
    props: {
        showUrl: String,
        pagination: Object,
        content: Object,
    },

    data() {
        return {
        name: ""
        };
    },

    methods: {
        nextPage: function(page) {
            axios.get(nextPage).then( response => {
                console.log(response)
            }).catch( error => {
                console.log(error);
            })
        }
    },

    mounted() {
        console.log(this.content)
    }
};
</script>
