@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.card-body li span {
    vertical-align: bottom;
}

.list-features li {
    display: inline-block;
}

.list-features li span {
    vertical-align: bottom;
}

.profile-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}