<template>
    <div class="card bordered">
        <figure>
            <img src="/images/thumb.jpg" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                {{ property.title }}
                <div class="badge mx-2 badge-secondary">{{ property.operations[0].type }}</div>
            </h2>
            <p>
                {{ property.location }}
            </p> <br>

            <ul>
                <li v-if="property.bedrooms"><span class="material-icons">king_bed</span> <span>{{ property.bedrooms }}</span></li>
                <li v-if="property.bathrooms"><span class="material-icons">bathtub</span> <span>{{ property.bathrooms }}</span></li>
                <li v-if="property.parking_spaces"><span class="material-icons">local_parking</span> <span>{{ property.parking_spaces }}</span></li>
                <li v-if="property.construction_size"><span class="material-icons">aspect_ratio</span> <span>{{ property.construction_size }}</span> m2</li>
            </ul>

            <div class="justify-end card-actions">
                <Link class="btn btn-secondary" :href="'/property/' + property.public_id">Show more</Link>
            </div>
        </div>
    </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';

export default {
    components: {
        Link,
    },
    props: {
        property: Array
    },
    mounted() {
        console.log(this.property)
    }
};
</script>
