<template>
    <main>
        <div
            class="
                navbar
                mb-2
                shadow-lg
                bg-neutral
                text-neutral-content
                rounded-box
            "
        >
            <div class="flex-1 px-2 mx-2">
                <span class="text-lg font-bold"> Easy Broker </span>
            </div>
            <div class="flex-none hidden px-2 mx-2 lg:flex">
                <div class="flex items-stretch">
                    <Link class="btn btn-ghost btn-sm rounded-btn" href="/"> Home</Link>
                </div>
            </div>
            <div class="flex-none">
                <button class="btn btn-square btn-ghost">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 stroke-current"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
        <article>
            <slot />
        </article>
    </main>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";

export default {
    components: {
        Link,
    },
};
</script>
