<template>
  <main>
    <header>
      <navbar></navbar>
    </header>
    <img src="/images/header.jpg" alt="">
    <slot />
  </main>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3';
import navbar from '../Components/NavBar.vue'

export default {
    components: {
      Link, navbar
    },
    props: {
    },

    mounted(){
    }
}
</script>
